@inherits LayoutComponentBase

<PageTitle>Blazor Crud</PageTitle>

<div class="page">

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-danger">Oops, Error 404</h1>
                    <div class="alert alert-danger" role="alert">
                        El contenido que buscas no se encuentra en esta ruta.
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
